<div class="col-sm-12">
    <div class="row" style="padding-top: 50px">
        <div class="col-sm-12">
            <div class="card" style="border-color: transparent">
                <div class="card-block">
                    <img class="col-sm-12" src="./../../images/money.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 50px">
        <div class="col-sm-12">
            <div class="card" style="border-color: transparent">
                <div class="card-block">
                    <img class="col-sm-12" src="./../../images/money.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 50px">
        <div class="col-sm-12">
            <div class="card" style="border-color: transparent">
                <div class="card-block">
                    <img class="col-sm-12" src="./../../images/money.jpg">
                </div>
            </div>
        </div>
    </div>
</div>